header {
  position: sticky; /* stick to top when scrolling */
  top: 0; /* stick position */
  z-index: 10; /* stay above cards/content */
  background: #afb5aa; /* header background color */
  color: #000; /* header text color */
}

header > .wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 0 10px 10px;
}

header .logo-container {
  grid-column: 1;
  justify-self: start;
  display: flex;
  align-items: left;
  gap: 10px;
  margin-left: -350px;
}
header img.logo {
  height: 50px;
  margin-right: 10px;
}
header h1 {
  margin: 0;
}
header h1 .site-title {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
header h1 .site-title:hover {
  text-decoration: underline;
}
header h1 .site-title:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
header nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
}
header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}
header nav a:hover {
  color: rgba(25, 24, 23, 0.44);
  text-decoration: underline;
}

.nav {
  display: flex;
  gap: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to top, rgb(255, 251, 249), rgb(244, 243, 240));
  background-attachment: fixed;
} /* WRAPPER = centered container (no white box) */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper h3 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  border-bottom: 1px solid #0000006d;
  border-top: 1px solid #0000006d;
  background: linear-gradient(to bottom, #e0e0e0, #d2d1d1);
}
.wrapper h2 {
  font-weight: normal;
  background: linear-gradient(to right, #e0e0e0eb, #d2d1d1e5);
  padding: 10px;
}
header .logo-container {
  display: flex;
  align-items: center;
}
.card {
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 24px;
  overflow: hidden; /* respect rounded corners */
  margin: 24px 0; /* space between cards */
}
footer {
  border-top: 1px solid #0000006d;
  text-align: center;
}
ol li,
ul li,
dl dt,
dl dd {
  margin-bottom: 10px;
}
ul {
  list-style-type: square;
}
dl dt {
  font-weight: bold;
  color: #333;
}
.wrapper ul li a {
  color: black;
}
.wrapper ul li a:hover {
  color: rgba(25, 24, 23, 0.44);
}
.wrapper ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.wrapper ul li a:hover {
  color: rgba(25, 24, 23, 0.44);
  text-decoration: underline;
}
